<a href="https://colab.research.google.com/github/dhruv8112/intership/blob/main/Copy_of_13_may.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Try different encodings
encodings = ['utf-8-sig', 'latin1', 'ISO-8859-1', 'cp1252']

for encoding in encodings:
    try:
        df = pd.read_csv('/content/sample_data/zomato.csv', encoding=encoding)
        print("File read successfully with encoding:", encoding)
        display(df)
        break
    except UnicodeDecodeError:
        print("Failed to read file with encoding:", encoding)

Failed to read file with encoding: utf-8-sig
File read successfully with encoding: latin1

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9546,5915730,NamlÛ± Gurme,208,ÛÁstanbul,"Kemankeô Karamustafa Paôa Mahallesi, RÛ±htÛ±...",Karakí_y,"Karakí_y, ÛÁstanbul",28.977392,41.022793,Turkish,...,Turkish Lira(TL),No,No,No,No,3,4.1,Green,Very Good,788
9547,5908749,Ceviz AÛôacÛ±,208,ÛÁstanbul,"Koôuyolu Mahallesi, Muhittin íìstí_ndaÛô Cadd...",Koôuyolu,"Koôuyolu, ÛÁstanbul",29.041297,41.009847,"World Cuisine, Patisserie, Cafe",...,Turkish Lira(TL),No,No,No,No,3,4.2,Green,Very Good,1034
9548,5915807,Huqqa,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.034640,41.055817,"Italian, World Cuisine",...,Turkish Lira(TL),No,No,No,No,4,3.7,Yellow,Good,661
9549,5916112,Aôôk Kahve,208,ÛÁstanbul,"Kuruí_eôme Mahallesi, Muallim Naci Caddesi, N...",Kuruí_eôme,"Kuruí_eôme, ÛÁstanbul",29.036019,41.057979,Restaurant Cafe,...,Turkish Lira(TL),No,No,No,No,4,4.0,Green,Very Good,901
9550,5927402,Walter's Coffee Roastery,208,ÛÁstanbul,"CafeaÛôa Mahallesi, BademaltÛ± Sokak, No 21/B,...",Moda,"Moda, ÛÁstanbul",29.026016,40.984776,Cafe,...,Turkish Lira(TL),No,No,No,No,2,4.0,Green,Very Good,591

In [ ]:
#print column names

print(df.columns.tolist())

['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address', 'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two', 'Currency', 'Has Table booking', 'Has Online delivery', 'Is delivering now', 'Switch to order menu', 'Price range', 'Aggregate rating', 'Rating color', 'Rating text', 'Votes']

In [ ]:
#  find null value


null=df.isnull().sum()
print(null)

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [ ]:
# print null values in Cuisines

print(df['Cuisines'].isnull().sum())

9

In [ ]:
# whiceever column are null dlete that entire raw

df = df.dropna()

In [ ]:
null=df.isnull().sum()
print(null)

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [ ]:
# print first 10 values

print(df.head(10))

   Restaurant ID                           Restaurant Name  Country Code  \
0        6317637                          Le Petit Souffle           162
1        6304287                          Izakaya Kikufuji           162
2        6300002                    Heat - Edsa Shangri-La           162
3        6318506                                      Ooma           162
4        6314302                               Sambo Kojin           162
5       18189371                              Din Tai Fung           162
6        6300781                                Buffet 101           162
7        6301290                                   Vikings           162
8        6300010  Spiral - Sofitel Philippine Plaza Manila           162
9        6314987                                  Locavore           162

               City                                            Address  \
0       Makati City  Third Floor, Century City Mall, Kalayaan Avenu...
1       Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Mandaluyong City  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Mandaluyong City  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Mandaluyong City  Third Floor, Mega Atrium, SM Megamall, Ortigas...
5  Mandaluyong City  Ground Floor, Mega Fashion Hall, SM Megamall, ...
6        Pasay City  Building K, SM By The Bay, Sunset Boulevard, M...
7        Pasay City  Building B, By The Bay, Seaside Boulevard, Mal...
8        Pasay City  Plaza Level, Sofitel Philippine Plaza Manila, ...
9        Pasig City  Brixton Technology Center, 10 Brixton Street, ...

                                          Locality  \
0        Century City Mall, Poblacion, Makati City
1       Little Tokyo, Legaspi Village, Makati City
2       Edsa Shangri-La, Ortigas, Mandaluyong City
3           SM Megamall, Ortigas, Mandaluyong City
4           SM Megamall, Ortigas, Mandaluyong City
5           SM Megamall, Ortigas, Mandaluyong City
6  SM by the Bay, Mall of Asia Complex, Pasay City
7  SM by the Bay, Mall of Asia Complex, Pasay City
8      Sofitel Philippine Plaza Manila, Pasay City
9                                        Kapitolyo

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450
5  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056314  14.583764
6  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979667  14.531333
7  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979333  14.540000
8  Sofitel Philippine Plaza Manila, Pasay City, P...  120.980090  14.552990
9                              Kapitolyo, Pasig City  121.056532  14.572041

                             Cuisines  ...          Currency  \
0          French, Japanese, Desserts  ...  Botswana Pula(P)
1                            Japanese  ...  Botswana Pula(P)
2    Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3                     Japanese, Sushi  ...  Botswana Pula(P)
4                    Japanese, Korean  ...  Botswana Pula(P)
5                             Chinese  ...  Botswana Pula(P)
6                     Asian, European  ...  Botswana Pula(P)
7  Seafood, Filipino, Asian, European  ...  Botswana Pula(P)
8             European, Asian, Indian  ...  Botswana Pula(P)
9                            Filipino  ...  Botswana Pula(P)

  Has Table booking Has Online delivery Is delivering now  \
0               Yes                  No                No
1               Yes                  No                No
2               Yes                  No                No
3                No                  No                No
4               Yes                  No                No
5                No                  No                No
6               Yes                  No                No
7               Yes                  No                No
8               Yes                  No                No
9               Yes                  No                No

  Switch to order menu Price range  Aggregate rating  Rating color  \
0                   No           3               4.8    Dark Green
1                   No           3               4.5    Dark Green
2                   No           4               4.4         Green
3                   No           4               4.9    Dark Green
4                   No           4               4.8    Dark Green
5                   No           3               4.4         Green
6                   No           4               4.0         Green
7                   No           4               4.2         Green
8                   No           4               4.9    Dark Green
9                   No           3               4.8    Dark Green

  Rating text Votes
0   Excellent   314
1   Excellent   591
2   Very Good   270
3   Excellent   365
4   Excellent   229
5   Very Good   336
6   Very Good   520
7   Very Good   677
8   Excellent   621
9   Excellent   532

[10 rows x 21 columns]

In [ ]:
import pandas as pd

# Data provided
data = {
    'Country Code': [1, 14, 30, 37, 94, 148, 162, 166, 184, 189, 191, 208, 214, 215, 216],
    'Country': ['India', 'Australia', 'Brazil', 'Canada', 'Indonesia', 'New Zealand',
                'Phillipines', 'Qatar', 'Singapore', 'South Africa', 'Sri Lanka',
                'Turkey', 'UAE', 'United Kingdom', 'United States']
}

# Create DataFrame
df = pd.DataFrame(data)

# Save DataFrame to a CSV file
df.to_csv('countries.csv', index=False)

print("CSV file created successfully.")

CSV file created successfully.

In [ ]:
print(df.head(10))

   Country Code       Country
0             1         India
1            14     Australia
2            30        Brazil
3            37        Canada
4            94     Indonesia
5           148   New Zealand
6           162   Phillipines
7           166         Qatar
8           184     Singapore
9           189  South Africa

In [ ]:
import pandas as pd

# Load the CSV file into a DataFrame
# Try different encodings
encodings = ['utf-8-sig', 'latin1', 'ISO-8859-1', 'cp1252']

for encoding in encodings:
    try:
        df = pd.read_csv('/content/sample_data/zomato.csv', encoding=encoding)
        print("File read successfully with encoding:", encoding)
        country_code_counts = df['Country Code'].value_counts()
        print(country_code_counts)
        break  # Break out of the loop if successful
    except UnicodeDecodeError:
        pass

# Get the counts of each unique country code
country_code_counts = df['Country Code'].value_counts()

print(country_code_counts)

File read successfully with encoding: latin1
Country Code
1      8652
216     434
215      80
30       60
214      60
189      60
148      40
208      34
14       24
162      22
94       21
184      20
166      20
191      20
37        4
Name: count, dtype: int64
Country Code
1      8652
216     434
215      80
30       60
214      60
189      60
148      40
208      34
14       24
162      22
94       21
184      20
166      20
191      20
37        4
Name: count, dtype: int64

In [ ]:
# : count the maximum number if  the rating restuant

max_rating_count = df['Aggregate rating'].value_counts().max()
print(f"Maximum number of restaurants with the same rating: {max_rating_count}")

Maximum number of restaurants with the same rating: 2148

In [ ]:
print(df.head(10))

   Restaurant ID                           Restaurant Name  Country Code  \
0        6317637                          Le Petit Souffle           162
1        6304287                          Izakaya Kikufuji           162
2        6300002                    Heat - Edsa Shangri-La           162
3        6318506                                      Ooma           162
4        6314302                               Sambo Kojin           162
5       18189371                              Din Tai Fung           162
6        6300781                                Buffet 101           162
7        6301290                                   Vikings           162
8        6300010  Spiral - Sofitel Philippine Plaza Manila           162
9        6314987                                  Locavore           162

               City                                            Address  \
0       Makati City  Third Floor, Century City Mall, Kalayaan Avenu...
1       Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Mandaluyong City  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Mandaluyong City  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Mandaluyong City  Third Floor, Mega Atrium, SM Megamall, Ortigas...
5  Mandaluyong City  Ground Floor, Mega Fashion Hall, SM Megamall, ...
6        Pasay City  Building K, SM By The Bay, Sunset Boulevard, M...
7        Pasay City  Building B, By The Bay, Seaside Boulevard, Mal...
8        Pasay City  Plaza Level, Sofitel Philippine Plaza Manila, ...
9        Pasig City  Brixton Technology Center, 10 Brixton Street, ...

                                          Locality  \
0        Century City Mall, Poblacion, Makati City
1       Little Tokyo, Legaspi Village, Makati City
2       Edsa Shangri-La, Ortigas, Mandaluyong City
3           SM Megamall, Ortigas, Mandaluyong City
4           SM Megamall, Ortigas, Mandaluyong City
5           SM Megamall, Ortigas, Mandaluyong City
6  SM by the Bay, Mall of Asia Complex, Pasay City
7  SM by the Bay, Mall of Asia Complex, Pasay City
8      Sofitel Philippine Plaza Manila, Pasay City
9                                        Kapitolyo

                                    Locality Verbose   Longitude   Latitude  \
0  Century City Mall, Poblacion, Makati City, Mak...  121.027535  14.565443
1  Little Tokyo, Legaspi Village, Makati City, Ma...  121.014101  14.553708
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...  121.056831  14.581404
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056475  14.585318
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.057508  14.584450
5  SM Megamall, Ortigas, Mandaluyong City, Mandal...  121.056314  14.583764
6  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979667  14.531333
7  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.979333  14.540000
8  Sofitel Philippine Plaza Manila, Pasay City, P...  120.980090  14.552990
9                              Kapitolyo, Pasig City  121.056532  14.572041

                             Cuisines  ...          Currency  \
0          French, Japanese, Desserts  ...  Botswana Pula(P)
1                            Japanese  ...  Botswana Pula(P)
2    Seafood, Asian, Filipino, Indian  ...  Botswana Pula(P)
3                     Japanese, Sushi  ...  Botswana Pula(P)
4                    Japanese, Korean  ...  Botswana Pula(P)
5                             Chinese  ...  Botswana Pula(P)
6                     Asian, European  ...  Botswana Pula(P)
7  Seafood, Filipino, Asian, European  ...  Botswana Pula(P)
8             European, Asian, Indian  ...  Botswana Pula(P)
9                            Filipino  ...  Botswana Pula(P)

  Has Table booking Has Online delivery Is delivering now  \
0               Yes                  No                No
1               Yes                  No                No
2               Yes                  No                No
3                No                  No                No
4               Yes                  No                No
5                No                  No                No
6               Yes                  No                No
7               Yes                  No                No
8               Yes                  No                No
9               Yes                  No                No

  Switch to order menu Price range  Aggregate rating  Rating color  \
0                   No           3               4.0    Dark Green
1                   No           3               4.0    Dark Green
2                   No           4               4.0         Green
3                   No           4               4.0    Dark Green
4                   No           4               4.0    Dark Green
5                   No           3               4.0         Green
6                   No           4               4.0         Green
7                   No           4               4.0         Green
8                   No           4               4.0    Dark Green
9                   No           3               4.0    Dark Green

  Rating text Votes
0   Excellent   314
1   Excellent   591
2   Very Good   270
3   Excellent   365
4   Excellent   229
5   Very Good   336
6   Very Good   520
7   Very Good   677
8   Excellent   621
9   Excellent   532

[10 rows x 21 columns]

In [ ]:
import pandas as pd

# Try different encodings
encodings = ['utf-8-sig', 'latin1', 'ISO-8859-1', 'cp1252']

for encoding in encodings:
    try:
        df = pd.read_csv('/content/sample_data/zomato.csv', encoding=encoding)
        print("File read successfully with encoding:", encoding)
        break  # Break out of the loop if successful
    except UnicodeDecodeError:
        print("Failed to read file with encoding:", encoding)

# Print the DataFrame before converting
print(df['Aggregate rating'])

Failed to read file with encoding: utf-8-sig
File read successfully with encoding: latin1
0       4.8
1       4.5
2       4.4
3       4.9
4       4.8
       ...
9546    4.1
9547    4.2
9548    3.7
9549    4.0
9550    4.0
Name: Aggregate rating, Length: 9551, dtype: float64

In [ ]:
df['Aggregate rating']=df['Aggregate rating'].astype(float)
print(df['Aggregate rating'])

0       4.8
1       4.5
2       4.4
3       4.9
4       4.8
       ...
9546    4.1
9547    4.2
9548    3.7
9549    4.0
9550    4.0
Name: Aggregate rating, Length: 9551, dtype: float64

In [ ]:
# prompt: aveage of aggrate rating column

average_rating = df['Aggregate rating'].mean()
print(f"Average  rating: {average_rating}")

Average  rating: 2.66637001361114

In [ ]:
#above average of 2.7  count the restruntant

# Count the number of restaurants with rating above average
restaurants_above_average = df[df['Aggregate rating'] > 2.7].shape[0]

print(f"Number of restaurants with rating above average: {restaurants_above_average}")

Number of restaurants with rating above average: 6666

In [ ]:
import pandas as pd

# Try different encodings
encodings = ['utf-8-sig', 'latin1', 'ISO-8859-1', 'cp1252']

for encoding in encodings:
    try:
        df = pd.read_csv('/content/sample_data/zomato.csv', encoding=encoding)
        print("File read successfully with encoding:", encoding)
        break  # Break out of the loop if successful
    except UnicodeDecodeError:
        print("Failed to read file with encoding:", encoding)

# Create a dictionary mapping country codes to country names
country_details = {
    1: 'India',
    14: 'Australia',
    30: 'Brazil',
    37: 'Canada',
    94: 'Indonesia',
    148: 'New Zealand',
    162: 'Philippines',
    166: 'Qatar',
    184: 'Singapore',
    189: 'South Africa',
    191: 'Sri Lanka',
    208: 'Turkey',
    214: 'UAE',
    215: 'United Kingdom',
    216: 'United States'
}

# Add a new column 'Country Name' based on the 'Country Code' column
df['Country Name'] = df['Country Code'].map(country_details)

# Save the updated dataset with country names to a new CSV file
df.to_csv('updated_dataset.csv', index=False)

Failed to read file with encoding: utf-8-sig
File read successfully with encoding: latin1

In [ ]:
df = pd.read_csv('/content/sample_data/new_zomato.csv')

# Display the first 10 rows of the DataFrame
print(df.head(10))

  Restaurant ID                           Restaurant Name Country Code  \
0       6317637                          Le Petit Souffle          162
1       6304287                          Izakaya Kikufuji          162
2       6300002                    Heat - Edsa Shangri-La          162
3       6318506                                      Ooma          162
4       6314302                               Sambo Kojin          162
5      18189371                              Din Tai Fung          162
6       6300781                                Buffet 101          162
7       6301290                                   Vikings          162
8       6300010  Spiral - Sofitel Philippine Plaza Manila          162
9       6314987                                  Locavore          162

               City                                            Address  \
0       Makati City  Third Floor, Century City Mall, Kalayaan Avenu...
1       Makati City  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...
2  Mandaluyong City  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...
3  Mandaluyong City  Third Floor, Mega Fashion Hall, SM Megamall, O...
4  Mandaluyong City  Third Floor, Mega Atrium, SM Megamall, Ortigas...
5  Mandaluyong City  Ground Floor, Mega Fashion Hall, SM Megamall, ...
6        Pasay City  Building K, SM By The Bay, Sunset Boulevard, M...
7        Pasay City  Building B, By The Bay, Seaside Boulevard, Mal...
8        Pasay City  Plaza Level, Sofitel Philippine Plaza Manila, ...
9        Pasig City  Brixton Technology Center, 10 Brixton Street, ...

                                          Locality  \
0        Century City Mall, Poblacion, Makati City
1       Little Tokyo, Legaspi Village, Makati City
2       Edsa Shangri-La, Ortigas, Mandaluyong City
3           SM Megamall, Ortigas, Mandaluyong City
4           SM Megamall, Ortigas, Mandaluyong City
5           SM Megamall, Ortigas, Mandaluyong City
6  SM by the Bay, Mall of Asia Complex, Pasay City
7  SM by the Bay, Mall of Asia Complex, Pasay City
8      Sofitel Philippine Plaza Manila, Pasay City
9                                        Kapitolyo

                                    Locality Verbose    Longitude  \
0  Century City Mall, Poblacion, Makati City, Mak...   121.027535
1  Little Tokyo, Legaspi Village, Makati City, Ma...   121.014101
2  Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...   121.056831
3  SM Megamall, Ortigas, Mandaluyong City, Mandal...   121.056475
4  SM Megamall, Ortigas, Mandaluyong City, Mandal...   121.057508
5  SM Megamall, Ortigas, Mandaluyong City, Mandal...   121.056314
6  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.9796667
7  SM by the Bay, Mall of Asia Complex, Pasay Cit...  120.9793333
8  Sofitel Philippine Plaza Manila, Pasay City, P...    120.98009
9                              Kapitolyo, Pasig City   121.056532

      Latitude                            Cuisines  ... Has Table booking  \
0    14.565443          French, Japanese, Desserts  ...               Yes
1    14.553708                            Japanese  ...               Yes
2    14.581404    Seafood, Asian, Filipino, Indian  ...               Yes
3    14.585318                     Japanese, Sushi  ...                No
4     14.58445                    Japanese, Korean  ...               Yes
5    14.583764                             Chinese  ...                No
6  14.53133333                     Asian, European  ...               Yes
7        14.54  Seafood, Filipino, Asian, European  ...               Yes
8     14.55299             European, Asian, Indian  ...               Yes
9    14.572041                            Filipino  ...               Yes

  Has Online delivery Is delivering now Switch to order menu Price range  \
0                  No                No                   No         3.0
1                  No                No                   No         3.0
2                  No                No                   No         4.0
3                  No                No                   No         4.0
4                  No                No                   No         4.0
5                  No                No                   No         3.0
6                  No                No                   No         4.0
7                  No                No                   No         4.0
8                  No                No                   No         4.0
9                  No                No                   No         3.0

  Aggregate rating  Rating color Rating text  Votes Country Name
0              4.8    Dark Green   Excellent  314.0  Philippines
1              4.5    Dark Green   Excellent  591.0  Philippines
2              4.4         Green   Very Good  270.0  Philippines
3              4.9    Dark Green   Excellent  365.0  Philippines
4              4.8    Dark Green   Excellent  229.0  Philippines
5              4.4         Green   Very Good  336.0  Philippines
6              4.0         Green   Very Good  520.0  Philippines
7              4.2         Green   Very Good  677.0  Philippines
8              4.9    Dark Green   Excellent  621.0  Philippines
9              4.8    Dark Green   Excellent  532.0  Philippines

[10 rows x 22 columns]

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/new_zomato.csv')


df['Aggregate rating'] = pd.to_numeric(df['Aggregate rating'], errors='coerce')


df['Aggregate rating'].fillna(0, inplace=True)


df['Aggregate rating'] = df['Aggregate rating'].astype(float)

country_ratings = df.pivot_table(values='Aggregate rating', index='Country Name', aggfunc='sum')

# Print the pivot table
print(country_ratings)

                Aggregate rating
Country Name
Australia                   87.8
Brazil                     225.8
Canada                      14.3
India                    21831.8
Indonesia                   90.2
New Zealand                170.5
Philippines                 98.3
Qatar                       81.2
Singapore                   68.3
South Africa               252.6
Sri Lanka                   77.4
Turkey                     146.2
UAE                        254.0
United Kingdom             327.0
United States             1737.9

In [ ]:
# find the mean of the avearge cost for two by country wise

import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/new_zomato.csv')

# Convert 'Average Cost for two' to numeric
df['Average Cost for two'] = pd.to_numeric(df['Average Cost for two'], errors='coerce')

# Fill missing values with 0
df['Average Cost for two'].fillna(0, inplace=True)

# Convert 'Average Cost for two' to float
df['Average Cost for two'] = df['Average Cost for two'].astype(float)

# Calculate the mean of average cost for two, grouped by country
mean_cost_by_country = df.groupby('Country Name')['Average Cost for two'].mean()

# Print the mean cost for two, grouped by country
print(mean_cost_by_country)

Country Name
Australia             24.083333
Brazil               134.666667
Canada                36.250000
India                623.370319
Indonesia         281190.476190
New Zealand           69.750000
Philippines         1606.818182
Qatar                223.750000
Singapore            158.947368
South Africa         419.733333
Sri Lanka           2375.000000
Turkey                84.852941
UAE                  166.416667
United Kingdom        47.812500
United States         26.152074
Name: Average Cost for two, dtype: float64

In [ ]:
# count a total no of restruant by outnry wise

country_counts = df['Country Name'].value_counts()
print(country_counts)

Country Name
India             8652
United States      434
United Kingdom      80
Brazil              60
UAE                 60
South Africa        60
New Zealand         40
Turkey              34
Australia           24
Philippines         22
Indonesia           21
Qatar               20
Sri Lanka           20
Singapore           19
Canada               4
Name: count, dtype: int64

In [ ]:
#count the number of votes by country wise

# Create a pivot table with country names as rows and votes as values
votes_by_country = df.pivot_table(values='Votes', index='Country Name', aggfunc='sum')

# Print the pivot table
print(votes_by_country)

                    Votes
Country Name
Australia          2674.0
Brazil             1177.0
Canada              412.0
India           1187163.0
Indonesia         16214.0
New Zealand        9721.0
Philippines        8963.0
Qatar              3276.0
Singapore           608.0
South Africa      18910.0
Sri Lanka          2929.0
Turkey            14670.0
UAE               29611.0
United Kingdom    16439.0
United States    185848.0

In [ ]:

votes_by_country_percent = (votes_by_country / country_counts.sum()) * 100

# Print the percentage of votes for each country
print(votes_by_country_percent)

                   Votes
Country Name
Australia       0.002800
Brazil          0.001232
Canada          0.000431
India           1.243103
Indonesia       0.016978
New Zealand     0.010179
Philippines     0.009385
Qatar           0.003430
Singapore       0.000637
South Africa    0.019801
Sri Lanka       0.003067
Turkey          0.015361
UAE             0.031006
United Kingdom  0.017214
United States   0.194605

In [ ]:
# count rating text as by county names

import pandas as pd
# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/new_zomato.csv')

# Create a pivot table with country names as rows and rating text as values
rating_text_by_country = df.pivot_table(values='Rating text', index='Country Name', aggfunc='count')

# Print the pivot table
print(rating_text_by_country)

                Rating text
Country Name
Australia                24
Brazil                   60
Canada                    4
India                  8652
Indonesia                21
New Zealand              40
Philippines              22
Qatar                    20
Singapore                19
South Africa             60
Sri Lanka                20
Turkey                   34
UAE                      60
United Kingdom           80
United States           434

In [ ]:
# prompt: count rating text by country

import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/new_zomato.csv')

# Create a pivot table with country names as rows and rating text as values
rating_text_by_country = df.pivot_table(values='Rating text', index='Country Name', aggfunc='count')

# Print the pivot table
print(rating_text_by_country)

                Rating text
Country Name
Australia                24
Brazil                   60
Canada                    4
India                  8652
Indonesia                21
New Zealand              40
Philippines              22
Qatar                    20
Singapore                19
South Africa             60
Sri Lanka                20
Turkey                   34
UAE                      60
United Kingdom           80
United States           434

In [ ]:
# prompt: how many execllnet are in rating text by country wise

import pandas as pd
# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/new_zomato.csv')

# Create a pivot table with country names as rows and rating text as values
rating_text_by_country = df.pivot_table(values='Rating text', index='Country Name', aggfunc='count')

# Filter the pivot table to only include rows where the rating text is "Excellent"
excellent_ratings_by_country = rating_text_by_country[rating_text_by_country['Rating text'] == 'Excellent']

# Print the number of excellent ratings for each country
print(excellent_ratings_by_country)

Empty DataFrame
Columns: [Rating text]
Index: []

In [ ]:
grouped = df.groupby('Rating text')
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fb98906b100>

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/new_zomato.csv')
print(df.columns)

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes', 'Country Name'],
      dtype='object')

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('/content/sample_data/new_zomato.csv')

# Group by 'Country Name' and 'Rating text', and count the occurrences
grouped_data = df.groupby(['Country Name', 'Rating text']).size().unstack()

# Print the grouped data
print(grouped_data)

Rating text     Average  Excellent    Good  Not rated   Poor  Very Good
Country Name
Australia           4.0        1.0    13.0        NaN    1.0        5.0
Brazil              8.0       16.0    11.0        5.0    NaN       20.0
Canada              2.0        NaN     1.0        NaN    NaN        1.0
India            3678.0      116.0  1847.0     2139.0  180.0      692.0
Indonesia           1.0        7.0     3.0        NaN    NaN       10.0
New Zealand         NaN       12.0     2.0        NaN    1.0       25.0
Philippines         NaN       12.0     1.0        NaN    NaN        9.0
Qatar               2.0        4.0     7.0        NaN    NaN        7.0
Singapore           8.0        NaN     8.0        NaN    NaN        3.0
South Africa        1.0       12.0    12.0        NaN    NaN       35.0
Sri Lanka           2.0        2.0     4.0        NaN    1.0       11.0
Turkey              1.0       10.0     3.0        NaN    NaN       20.0
UAE                 1.0       18.0     9.0        NaN    1.0       31.0
United Kingdom      5.0       23.0    20.0        1.0    NaN       31.0
United States      23.0       68.0   159.0        3.0    2.0      179.0

In [ ]:
total_ratings_by_country = df.groupby('Country Name')['Rating text'].count()

# Print the total ratings by country
print(total_ratings_by_country)

Country Name
Australia           24
Brazil              60
Canada               4
India             8652
Indonesia           21
New Zealand         40
Philippines         22
Qatar               20
Singapore           19
South Africa        60
Sri Lanka           20
Turkey              34
UAE                 60
United Kingdom      80
United States      434
Name: Rating text, dtype: int64